@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">

        <li class="nav-item">
            <a href="/Home/Admin" class="nav-link @(currentAction == "Admin" ? "active" : "")">
                <i class="nav-icon fas fa-chart-line"></i>
                <p>Dashboard</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Categories" class="nav-link @(currentController == "Categories" ? "active" : "")">
                <i class="nav-icon fas fa-tags"></i>
                <p>Categories</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Products" class="nav-link @(currentController == "Products" ? "active" : "")">
                <i class="nav-icon fas fa-box"></i>
                <p>Products</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ApplicationUsers" class="nav-link @(currentController == "ApplicationUsers" ? "active" : "")">
                <i class="nav-icon fas fa-users"></i>
                <p>Users</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/ProductEditProposal" class="nav-link @(currentController == "ProductEditProposal" ? "active" : "")">
                <i class="nav-icon fas fa-edit"></i>
                <p>Active Products Proposals</p>
            </a>
        </li>
    </ul>
</nav>